body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul li {
  list-style: none;
}
ul{padding: 0;}
.first-level li button {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}
.App{width: 1000px;
  margin: 0 auto;}
  .home-icon{width: 50px;}
  .home-btn{   
    border: none;
    background: transparent;}
    .tabs{border: none; padding: 5px;}
    .content-inactive{display: none;}
    button{cursor: pointer;}
    .tabs{    display: flex;
      width: 100%;
      justify-content: space-around; background-color: rgb(130, 186, 209);}
.p-title{padding: 10px;}      